body{
    width: 960px;
    margin: 10px auto;
    background-color: #D8D8D8; 
}
h1{
   background-color: #85D6FF;
   color: #0066CC;
   font-family: Impact;
   font-size: 40px;
   padding: 10px;
}
p.main{
  margin-left: 100px;
  font-family: Arial;
  font-size: 16px;
}
p{
  font-family: Arial;
  font-size: 16px;  
}
img.content{
    margin: 0px;
    float: right;
}
a:link{
    color: deepskyblue;
}
a:hover{
    color: gold;
}
a:visted{
    color: deepskyblue;
}
